<!doctype html>
<html>
  <head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Password Reset / Email Templates for developers" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Password Reset / Email Templates for developers</title>
		<style>
      body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        line-height: 1.4;
        -webkit-font-smoothing: antialiased;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%; 
      }
      img {
				display: block;
        border: none;
        max-width: 100%; 
        -ms-interpolation-mode: bicubic;
      }
		</style>
		<!--------------------------------
			|	/ Brand colors
			| ------------------------------
			|	paragraphs: #5B6987
			| paragraphs secondary: #99A1B3
			| headings: #010E28
			|	brand color: #0069FF
			| brand color dark: #0248FF
			| background: #F3F5F9
			|
			| / Emails
			| ------------------------------
			| user account: yennifer@mail.com
			| company: no-reply@company.com
			| 
			| / Hacks spaces blank: img tag with transparent.png
			| / Email wrapper: 600px
			| / Email content container: 440px
			| ...
			| ------------------------------
		-->
	</head>
	<body
		leftmargin="0" 
		marginwidth="0" 
		topmargin="0" 
		marginheight="0" 
		offset="0" 
		bgcolor="#F3F5F9"
		style="background: #F3F5F9;"
	>
		<!-- 
			| email container
		-->
		<table 
			align="center" 
			valign="top" 
			border="0" 
			cellpadding="0" 
			cellspacing="0" 
			height="100%" 
			width="100%" 
			bgcolor="#F3F5F9" 
			style="border-spacing: 0; 
				border-collapse: collapse; 
				vertical-align: top; 
				padding: 0; 
				margin: 0; 
				width: 100%; 
				background: #F3F5F9"
		>
			<tr>
				<td height="30" style="height: 30px;">
					<img 
						src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
						width="1" 
						height="1" 
						border="0" 
						style="display: block; border: none" 
					/>
				</td>
			</tr>
			<tr>
				<td align="center"  valign="top">
					<!-- 
						| top header outside the wrapper
					-->
					<table 
						align="center" 
						border="0" 
						cellpadding="0" 
						cellspacing="0" 
						width="600"
						style="max-width: 600px; 
							border-spacing: 0; 
							border-collapse: collapse; 
							vertical-align: top; 
							padding: 0; 
							margin: 0; 
							width: 100%"
					>
						<tr>
							<td>
								<p 
									style="text-align: center; 
										font-family: Arial, Helvetica, sans-serif; 
										font-size: 12px; 
										color: #99A1B3; 
										margin: 0; 
										padding: 0; 
										line-height: 14px; 
										font-weight: bold;"
								>
									To ensure delivery, add <a href="mailto:no-reply@company.com" style="color: #0069FF">no-reply@company.com</a> to your address book	
								</p>
							</td>
						</tr>
					</table>
					<!-- 
						| END / top header outside the wrapper
					-->
				</td>	
			</tr>
			<tr>
				<td height=20" style="height: 20px;">
					<img 
						src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
						width="1" 
						height="1" 
						border="0" 
						style="display: block; border: none" 
					/>
				</td>
			</tr>
			<tr>
				<td align="center" valign="top">
					<!-- 
						| email wrapper
					-->
					<table 
						align="center" 
						border="0" 
						cellpadding="0" 
						cellspacing="0" 
						width="600" 
						bgcolor="#ffffff" 
						style="max-width: 600px; 
							border-spacing: 0; 
							border-collapse: collapse; 
							vertical-align: top; 
							padding: 0; 
							margin: 0; 
							width: 100%;
							background: #ffffff;"
					>
						<tr>
							<td 
								height="5" 
								style="height: 5px; 
									background-color: #0069FF; 
									background-image: linear-gradient(-45deg, #0248FF, #0069FF);"
							>
								<img 
									src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
									width="1" 
									height="1" 
									border="0" 
									style="display: block; border: none" 
								/>
							</td>
						</tr>
						<tr>
							<td height=40" style="height:40px">
								<img 
									src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
									width="1" 
									height="1" 
									border="0" 
									style="display: block; border: none" 
								/>
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<!-- 
									| content container 
								-->
								<table 
									align="center" 
									border="0" 
									cellpadding="0" 
									cellspacing="0" 
									width="440" 
									style="max-width: 440px;
										border-spacing: 0; 
										border-collapse: collapse; 
										vertical-align: top; 
										padding: 0; 
										margin: 0;"
								>
									<tr>
										<td align="center">
											<!-- 
												| logotype 
											-->
											<img 
												src="https://moiseshp.github.io/email-templates-for-developers/storage/logo_blue--v.png" 
												width="140"
												style="border: none; display: block; width: 140px"
											>
										</td>
									</tr>			
									<tr>
										<td height="30" style="height:30px">
											<img 
												src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
												width="1" 
												height="1" 
												border="0" 
												style="display: block; border: none" 
											/>		
										</td>
									</tr>
									<tr>
										<td>
											<h1 
												style="font-family: Arial, Helvetica, sans-serif; 
													font-size: 24px; 
													color: #010E28; 
													font-weight: bold; 
													margin: 0; 
													margin-bottom: 5px;
													padding: 0"
											>
												Hi, Yennifer Almeyda!
											</h1>
											<p 
												style="font-family: Arial, Helvetica, sans-serif; 
													font-size: 16px; 
													color: #010E28;  
													margin: 0; 
													padding: 0"
											>
												Forgotten password request
											</p>
										</td>
									</tr>
									<tr>
										<td height="15" style="height: 15px">
											<img 
												src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
												width="1" 
												height="1" 
												border="0" 
												style="display: block; border: none" 
											/>	
										</td>
									</tr>
									<tr>
										<td>
											<p 
												style="font-family: Arial, Helvetica, sans-serif; 
													font-size: 15px; 
													color: #5B6987; 
													margin: 0; 
													padding: 0; 
													line-height: 20px;"
												>
												It seems your forgot the password for your account. You can change your password by clicking the button below:
											</p>
										</td>
									</tr>
									<tr>
										<td height="45" style="height: 45px">
											<img 
												src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
												width="1" 
												height="1" 
												border="0" 
												style="display: block; border: none" 
											/>
										</td>
									</tr>
									<tr>
										<td align="center">
											<table 
												border="0" 
												cellpadding="0" 
												cellspacing="0" 
												width="300" 
												style="width: 300px;
													border-spacing: 0; 
													border-collapse: collapse; 
													vertical-align: top;
													margin: 0 auto"
											>
												<tr>
													<td>
														<a 
															href="#"
															style="width: 100%; 
																background-color: #0248FF; 
																background-image: linear-gradient(-45deg, #0248FF, #0069FF); 
																color: #FFF; 
																height: 55px; 
																line-height: 55px; 
																border-radius: 4px; 
																text-align: center; 
																font-weight: bold; 
																display: block; 
																text-decoration: none;
																font-family: Arial, Helvetica, sans-serif;"
														>
															Change password
														</a>
													</td>
												</tr>
											</table>	
										</td>
									</tr>
									<tr>
										<td height="45" style="height: 45px">
											<img 
												src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
												width="1" 
												height="1" 
												border="0" 
												style="display: block; border: none" 
											/>
										</td>
									</tr>
									<tr>
										<td>
											<p 
												style="font-family: Arial, Helvetica, sans-serif; 
													font-size: 15px; 
													color: #5B6987; 
													margin: 0; 
													padding: 0; 
													line-height: 20px;"
											>
												John and the <strong style="font-weight: bold; color: #010E28">Company Inc</strong> Team.
											</p>
										</td>
									</tr>
									<tr>
										<td height="30" style="height: 30px">
											<img 
												src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
												width="1" 
												height="1" 
												border="0" 
												style="display: block; border: none" 
											/>	
										</td>
									</tr>
									<tr>
										<td>
											<p 
												style="font-family: Arial, Helvetica, sans-serif; 
													font-size: 12px; 
													color: #5B6987; 
													margin: 0; 
													padding: 0; 
													line-height: 20px; 
													text-align: left;"
											>
												If you're having trouble clicking the password reset button, copy and paste the URL below into your web browser:
											</p>
										</td>
									</tr>
									<tr>
										<td height="10" style="height: 10px">
											<img 
												src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
												width="1" 
												height="1" 
												border="0" 
												style="display: block; border: none" 
											/>	
										</td>
									</tr>
									<tr>
										<td>
											<p 
												style="font-family: Arial, Helvetica, sans-serif; 
													font-size: 12px; 
													color: #5B6987; 
													margin: 0; 
													padding: 0; 
													line-height: 20px; 
													text-align: left;"
											>
												https://company.com/password-reset/AbCDeFGhIJKLm
											</p>
										</td>
									</tr>
								</table>	
								<!-- 
									| END / content container 
								-->
							</td>
						</tr>
						<tr>
							<td height="40" style="height:40px">
								<img 
									src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
									width="1" 
									height="1" 
									border="0" 
									style="display: block; border: none" 
								/>	
							</td>
						</tr>
					</table>	
					<!-- 
						| END / email wrapper
					-->

					<!-- 
						| footer legals
					-->
					<table 
						align="center" 
						valign="top" 
						border="0" 
						cellpadding="0" 
						cellspacing="0" 
						width="600"
						style="border-spacing: 0; 
							border-collapse: collapse; 
							vertical-align: top; 
							padding: 0; 
							margin: 0;"
					>
						<tr>
							<td height="30" style="height:30px">
								<img 
									src="https://moiseshp.github.io/email-templates-for-developers/storage/transparent.png" 
									width="1" 
									height="1" 
									border="0" 
									style="display: block; border: none" 
								/>	
							</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<table 
									border="0" 
									cellpadding="0" 
									cellspacing="0" 
									width="440" 
									style="max-width: 440px;
										border-spacing: 0; 
										border-collapse: collapse; 
										vertical-align: top; 
										padding: 0; 
										margin: 0;"
								>
									<tr>
										<td>
											<p 
												style="font-family: Arial, Helvetica, sans-serif; 
													font-size: 12px; 
													color: #99A1B3; 
													margin: 0; 
													padding: 0; 
													line-height: 16px; 
													text-align: center"
											>
												Fermentum varius, <a href="mailto:yennifer@mail.com" style="color: #0069FF">yennifer@mail.com</a> 
												<br />
												214 Vestibulum 24th blandit fringilla Consectetur 1929.
												<br />
												<a href="#" style="font-weight: bold; color: #99A1B3">Terms</a>
												/
												<a href="#" style="font-weight: bold; color: #99A1B3">Privacy Policy</a>
											</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- 
						| END / footer legals
					-->

				</td>
			</tr>
			<tr><td height="40">&nbsp;</td></tr>
		</table>
		<!-- 
			| END / email container
		-->

  </body>
</html>