<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Password Reset Email - Emailing / Template</title>
    <style>
      body {
        background: #FF3F55;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%; 
      }
      img {
        border: none;
        -ms-interpolation-mode: bicubic;
        max-width: 100%; 
      }
    </style>
	</head>
	<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor="#FF3F55" style="background: #FF3F55;">
		<table align="center" valign="top" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" bgcolor="#FF3F55" style="padding: 0; margin: 0; width: 100%; background: #FF3F55">
			<tr><td height="30" style="height: 30px;">&nbsp;</td></tr>
			<tr>
				<td align="center" valign="top">
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="max-width: 600px;">
						<tr>
							<td>
								<p style="text-align: center; font-family: Arial, Helvetica; font-size: 12px; color: #ffffff; margin: 0; padding: 0; line-height: 14px; ">
									To ensure delivery, add <a href="mailto:no-reply@mail.com" style="color: #ffffff; font-weight: bold;">no-reply@mail.com</a> to your address book	
								</p>
							</td>
						</tr>
					</table>
				</td>	
			</tr>
			<tr><td height="20" style="height: 20px;">&nbsp;</td></tr>
      <tr>
					<!-- MAIN -->
					<table align="center" valign="top" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#ffffff" style="max-width: 600px; background: #ffffff">
						<tr>
							<td height="40" style="height:40px">&nbsp;</td>
						</tr>
						<tr>
							<td align="center">
								<img src="../../images/do-vertical.png" 
									alt="Revboss"
									style="border: none; display: block; width: 140px;"
									width="140">
							</td>
						</tr>
						<tr>
							<td height="20" style="height:20px">&nbsp;</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="440" style="max-width: 440px; background: #ffffff;">
									<tr>
										<td>
											<h1 style="font-family: Arial, Helvetica; font-weight: bold; font-size: 24px; color: #FF3F55; margin: 0; margin-bottom: 10px; padding: 0; text-align: center;">
												Forgot your password?
											</h1>
										</td>
									</tr>
									<tr>
										<td>
											<p style="font-family: Arial, Helvetica; font-size: 15px; color: #5B6987; margin: 0; padding: 0; line-height: 20px; text-align: center">
                        Not to worry, we got you! Let's get you new password.
                      </p>
										</td>
									</tr>
									<tr><td height="45" style="height: 45px; line-height: 0">&nbsp;</td></tr>
									<tr>
										<td>
											<table border="0" cellpadding="0" cellspacing="0" width="440" style="max-width: 440px">
												<tr>
													<td width="70" style="width: 70px">&nbsp;</td>
													<td width="300" style="max-width: 300px;">
														<a 
															href="#"
															style="width: 100%; background-color: #000000; background-image: linear-gradient(-45deg, #000000, #222222); color: #FFF; height: 55px; line-height: 55px; border-radius: 30px; text-align: center; font-weight: bold; display: block; text-decoration: none;">
															Reset password
														</a>
													</td>
													<td width="70" style="width: 70px">&nbsp;</td>
												</tr>
											</table>	
										</td>
									</tr>
									<tr><td height="50" style="height: 50px; line-height: 0">&nbsp;</td></tr>
									<tr>
										<td>
											<p style="font-family: Arial, Helvetica; font-size: 15px; color: #5B6987; margin: 0; padding: 0; line-height: 20px; text-align: center;">
                        If you didn't mean to reset your password, then you can just ignore this email - your password will not change.
                      </p>
										</td>
									</tr>
									<tr><td height="40" style="height: 40px; line-height: 0">&nbsp;</td></tr>
									<tr>
										<td>
											<p style="font-family: Arial, Helvetica; font-size: 12px; color: #5B6987; margin: 0; margin-bottom: 10px; padding: 0; line-height: 20px; text-align: center;">
												If you're having trouble clicking the password reset button, copy and paste the URL below into your web browser:
                      </p>
											<p style="font-family: Arial, Helvetica; font-size: 12px; color: #5B6987; margin: 0; padding: 0; line-height: 20px; text-align: center;">
												<a href="#" style="color: #222222">https://dummy.com/password-reset/AbCDeFGhIJKLm</a>
                      </p>
										</td>
									</tr>
								</table>	
							</td>
						</tr>
						<tr>
							<td height="60" style="height:60px">&nbsp;</td>
						</tr>
					</table>	
					<!-- FOOTER -->
					<table align="center" valign="top" border="0" cellpadding="0" cellspacing="0" width="600">
						<tr>
							<td height="30" style="height:30px">&nbsp;</td>
						</tr>
						<tr>
							<td align="center" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" width="440" style="max-width: 440px">
									<tr>
										<td>
											<p style="font-family: Arial, Helvetica; font-size: 12px; color: #ffffff; margin: 0; padding: 0; line-height: 16px; text-align: center">
												Fermentum varius, <a href="mailto:yennifer@gmail.com" style="color: #ffffff">yennifer@gmail.com</a> 
											</p>
											<p style="font-family: Arial, Helvetica; font-size: 12px; color: #ffffff; margin: 0; padding: 0; line-height: 16px; text-align: center">
												213 Vestibulum 24th blandit fringilla Consectetur 1929.
											</p>
											<p style="font-family: Arial, Helvetica; font-size: 12px; color: #ffffff; margin: 0; padding: 0; line-height: 16px; text-align: center">
												<a href="#" style="font-weight: bold; color: #ffffff">
													Terms
												</a>
												/
												<a href="#" style="font-weight: bold; color: #ffffff">
													Privacy Policy
												</a>
											</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- END FOOTER -->
				</td>
			</tr>
			<tr><td height="40">&nbsp;</td></tr>
		</table>
  </body>
</html>